<app-hero-detail [hero]="selectedHero"></app-hero-detail>

<ul class="heroes">
  <li *ngFor="let hero of heroes | orderBy : ['-ini']" (click)="onSelect(hero)"
   [ngClass]= "{'test': hero.dead, 'lul': hero.onTurn}" [class.selected]="hero === selectedHero">
    <span class="badge badge-ini">{{hero.stat.ini}}</span>
    <span class="badge badge-hp">{{hero.stat.hp}}</span>
    {{hero.name}}
    <b>AT:</b> {{hero.stat.AT}}
    <b>PA:</b> {{hero.stat.PA}}
    <b>FK:</b> {{hero.stat.FK}}
    <b>GS:</b> {{hero.stat.GS}}
    <b>TP:</b> {{hero.stat.TP.diceCounter}}W{{hero.stat.TP.diceArt}}+{{hero.stat.TP.bonusdmg}}
    <b></b>
    <div *ngIf="last">showing {{ rowcount }} of {{ items.length }}</div>
  </li>
  <button (click)="nextFighter()">Next fighter</button>
</ul>
