<h1>{{title}}</h1>

<h2>My Heroes</h2>
<ul class="heroes">
  <li *ngFor="let hero of heroes | orderBy : ['-ini']">
    <span class="badge">{{hero.id}}</span> <span class="badge">{{hero.ini}}</span> {{hero.name}}
      <!-- <input tpye="number" [(ngModel)]="hero.ini"> -->
  </li>
</ul>

<!--h2>{{hero.name}} details!!!</h2>
<div></div>
<div><label>id: </label>{{hero.id}}</div>
<div><label>HP: </label>{{hero.hp-damage+hero.rs}}</div>
<div>
  <label>name: </label>
  <input [(ngModel)]="hero.name" placeholder="name">
</div>
<div>
  <label>damage: </label>
  <input tpye="number" [(ngModel)]="damage">
</div-->
