<h1>{{title}}</h1>
<app-hero-detail [hero]="selectedHero"></app-hero-detail>

<h2>Fightclub</h2>
<ul class="heroes">
  <li *ngFor="let hero of heroes | orderBy : ['-ini']" (click)="onSelect(hero)"
   [ngClass]= "{'test': hero.dead, 'lul': hero.onTurn}" [class.selected]="hero === selectedHero">
    <span class="badge badge-ini">{{hero.ini}}</span>
    <span class="badge badge-hp">{{hero.hp}}</span>
    {{hero.name}}
    <b>AT:</b> {{hero.AT}}
    <b>PA:</b> {{hero.PA}}
    <b>FK:</b> {{hero.FK}}
    <b>GS:</b> {{hero.GS}}
    <b>TP:</b> {{hero.TP.diceCounter}}W{{hero.TP.diceArt}}+{{hero.TP.bonusdmg}}
    <b></b>
    <div *ngIf="last">showing {{ rowcount }} of {{ items.length }}</div>
  </li>
  <button (click)="nextFighter()">Next fighter</button>
</ul>
